.left_block {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);

    .logo {
        margin: 0;
        padding: 2em;
        text-align: center;
        background-color: #ecffc4;

        img {
            width: 100px;
            height: 100px;
            border-radius: 10em;
            border: 4px solid #9acc33;
        }

        img:focus {
            outline: 0;
        }
    }

    ul  {
        width: 100%;
        border-top: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;

        li {
            border-bottom: 1px solid #e6e6e6;
            width: 100%;
            flex: 1;

            a {
                display: flex;
                padding: 1.2rem 1rem;
                color: #000000;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
            }

            .football:before {
                background-image: url(../../images/soccer_player.svg);
            }
            .golf:before {
                background-image: url(../../images/golf_player.svg);
            }

            a:hover {
                color: #4c75f2;
                background-color: #f5f3f3;
                transition: .2s ease-in-out;
            }
            
        }
        li a:before {
            content: "";
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 8px;
        }
    }

    .refresh {
        display: flex;
        padding: 1em;
        background-color: #4c74f2;
        align-items: center;
        justify-content: center;
        
        svg {
            width: 25px;
            height: 25px;

            path {
                fill: #fff;
            }
        }
    }

    .refresh:hover {
        background-color: #6989f1;
    }
}

.right_block {
    width: 85%;
    padding: 1rem;

    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 5px;
        background-color: #fff;
        padding: 6px;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);

        li {
            padding: 1em 0.5em 1em 2em;
            font-size: 15px;
            color: #3e3e3e;
            margin: 5px;
            background-color: #f3f3f3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            height: 115px;
            position: relative;
            text-align: left;
            flex: 1 0 21%;

            .event_tittle {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100%;
            }

            .event_icon {
                height: 100%;
                display: flex;
                align-items: flex-end;

                svg {
                    width: 55px;
                    height: 55px;
                }
            }

            span {
                margin-left: 6px;
                overflow-y: scroll;
            }

            .amt {
                color: #76ad07;
                font-weight: 600;
            }

            .tittle {
                margin-bottom: 10px;
                font-size: 16px;
            }

            span:before {
                content: "";
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
            }

            .tittle:before {
                background-image: url(../../images/gift.svg);
                left: 10px;
                top: 14px;
            }

            .amt:before {
                background-image: url(../../images/cash.svg);
                left: 10px;
                top: unset;
                bottom: 51px;
            }
        }
    }

    .search_block {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #fff;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);

        .profile_lite {
            flex: 1;
            display: flex;
            flex-direction: column;
            color: #3e3e3e;
            align-items: flex-start;
            justify-content: center;

            p {
                margin: 0 0 3px 0;
            }

            .color {
                color: #9acd32;
                font-weight: 600;
            }
        }

        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            padding-left: 15px;
            background-color: #f7f7f7;
            border-radius: 5px;

            input {
                padding: 0;
                margin: 0;
                background-color: #f1f1f1;
                border-radius: 0;
            }

            button {
                font-size: 14px;
                color: #ffffff;
                border: none;
                border-radius: 0px;
                cursor: pointer;
                margin-left: 10px;
                position: relative;
                font-family: 'archiaregular';
                padding: 18px 10px;
                width: auto;
                margin: 0;
                /* border-left: 1px solid #e8e8e8; */
                background-color: #9acd32;
                box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
                border-radius: 0px 5px 5px 0px;
            }
            
            button:hover {
                background-color: #d4deff;
                transition: .2s ease-in-out;
            }
        }
    }
}



// button:after {
//     content: "";
//     width: 48px;
//     height: 2px;
//     background-color: #4c74f2;
//     position: absolute;
//     right: 6px;
//     z-index: 5;
//     top: 21px;
// }



.loader_global {
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    float: right;
    padding: 1rem;
    text-align: right;
    width: 600px;
    li {
        display: inline-block; 
        margin: 0px 15px;
        a {
            text-decoration: none;
            cursor: pointer;
            transition: color 0.1s linear 0s;
            line-height: 40px;
            color: #000000;
        }
       
    }
}

.active {
    width: 40px;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    background-color: #4c75f2;
    a {
        color: #fff !important;
    }
}

.noData {
    display: flex;
    align-items: center;
    span {
    font-size: 50px;
    color: #4c75f2;
    display: inline-flex;
    }
    h1 {
        font-size: 14px;
        color: #999999;
        margin-left: 1rem;
    }
}

.indicator {
    color: #2954da;
    font-weight: 700;
}