/* Bordered form */
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../images/login_bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .left_block {
        flex: 50%;
        height: 100vh;
        // background-image: url("../images/login_bg.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    form {
        flex: 50%;
        border: 3px solid #f8f8f8;
        margin: 20px;
        background-color: #fdfdfda1;
    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 13px;
    }
    
    button {
        background-color: #fc5c7d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 13px;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    }

}
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }